<p class="depoimento-text" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
    Olá, eu sou o Gabriel Duarte — mas pode me chamar de Gabs.<br><br>

Sou CMO e cofundador da BoosterAd, mentor e estrategista de crescimento digital. Ao longo da jornada, desenvolvi um olhar sistêmico e provocador, com uma habilidade que virou assinatura: desbravar o novo é parte do processo. Ficar no mesmo lugar, não.<br><br>

Aqui na Booster, lidero a frente de marketing com foco em crescimento sustentável, performance orientada por dados e expansão de mercado. Faço a ponte entre marcas, vendas e produto, porque acredito que estratégia boa é a que gera resultado — e também conexão.<br><br>

Trabalhar na Booster é viver no ritmo do crescimento, com os pés nos dados, e os olhos nas possibilidades — e a ambição de levar cada marca além do óbvio. Porque aqui, não basta ser bom. É preciso ser Booster.
                    </p>
                    <p class="depoimento-author" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">| Gabriel Duarte, CMO e cofundador da BoosterAd</p>





                    Olá, eu sou o Gabriel Duarte — mas pode me chamar de Gabs.

Sou CMO e cofundador da BoosterAd, mentor e estrategista de crescimento digital. Ao longo dos anos, desenvolvi um olhar sistêmico e provocador, com uma habilidade que virou marca registrada: transformar o caos em estratégia.

Na Booster, lidero a frente de marketing com foco em crescimento sustentável, performance orientada por dados e expansão de mercado. Faço a ponte entre marca, vendas e produto, porque acredito que estratégia boa é a que gera resultado — e também conexão.

Trabalhar na Booster é viver no ritmo do crescimento, com os pés nos dados e os olhos nas possibilidades. É acreditar que toda meta ambiciosa merece uma estratégia à altura — e ir além, juntos.

Sou formado em Logística, com pós-graduação em Gestão de Marketing, e tenho mais de cinco anos de experiência em posições de liderança, vendas e growth.
Mas além dos negócios, sou movido pela curiosidade. Gosto de aprender, testar, cozinhar e dividir a vida com a Chaos — minha cachorrinha parceira de jornada.

Vamos falar sobre estratégia, crescimento ou só trocar boas ideias?